extends dashboard

block content

    .container.text-center
        .row
            h3=event_title

        br
    .row
        .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-12

            h4 ADD GUEST
            br
            
            form(action="/events/"+key+"/add_guest", method="POST")
                .form-group
                    
                    label Full Name
                    input.form-control(type="text", name="full_name", placeholder="Guest Name" )

                .form-group
                    
                    label Phone
                    input.form-control(type="text", name="Phone", placeholder="Guest Phone" )

                .form-group
                    
                    label Email
                    input.form-control(type="email", name="email", placeholder="Guest Email" )

                .form-group
                    
                    label Time In
                    input.form-control(type="time", name="time_in")

                .form-group
                    
                    label Time Out
                    input.form-control(type="time", name="time_out")

                input.btn.btn-primary.btn-block(type="submit", value="SAVE" )
