extends dashboard


block content
    section#create_event(style="padding: 100px 0;")
        .container
            .row
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    form(action="/add_event", method="POST")
                        .form-group
                            
                            label Title
                            input.form-control(type="text", name="title", placeholder="Event title" )

                        .form-group
                            
                            label Location
                            input.form-control(type="text", name="location", placeholder="Event location" )

                        .form-group
                            
                            label Host
                            input.form-control(type="text", name="host", placeholder="Event host" )

                        .form-group
                            
                            label Date
                            input.form-control(type="date", name="date")

                        .form-group
                            
                            label Time
                            input.form-control(type="time", name="time")

                        .form-group
                            
                            label Status
                            select.form-control(type="text", name="status")
                                option(value="true") Held
                                option(value="false", selected) Upcoming

                        input.btn.btn-primary.btn-block(type="submit", value="Create" )

                    

