extends layout

block css 
    link(rel="stylesheet", href="/css/login.css")

block content
    .container
        

        if error
            p Error: #{error}

        form(action="/users/login" method="POST")
            h4 User Login

            .form-inner
                label Username: 
                br
                input(type="text", name='username', required)
                br
                br
                label Password
                br
                input(type="password", name="password")

                br
                input(type='submit')

        br
        p Don't have an account? <a href="/users/register">Register now</a>