nav {
    box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.05);
}

nav.navbar {
    margin-bottom: 0 !important;
}
nav, .nav, .navbar-nav, .navbar-inverse {
    background: transparent;
    color: white;
    border: 0;
    border-radius: 0;

}
.navbar-inverse {
    background: white;

}
.navbar-nav li a{
    color: dodgerblue !important;
    font-weight: bold;
}
.navbar-nav li.dropdown ul.dropdown-menu > li a{
    font-weight: 500;
    color: black  !important;
}
#overview {
    background: white;
    background-image: linear-gradient(to right, rgb(0, 60, 255), red);
    padding: 150px 0 50px;
    
}

#overview .panel {
    border: 0;
    box-shadow: 0 4px 12px 2px rgba(0,0,0, 0.05);
    border-radius: 5px !important;
}
#overview .panel .panel-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#overview .panel .panel-heading {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#overview .well {
    border: 0;
    background: white;
    padding-top: 25px;
    box-shadow: 2px 2px 4px 5px rgba(0,0,0, 0.05);    
    border-radius: 5px;

}

#overview .row > div .overview_content#upcoming_event .panel-body {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#overview .row > div .overview_content#upcoming_event .panel-heading {
    padding: 34px 15px;
    background: black;
    border: none;
    height: 167px;
}
#overview .row > div .overview_content#upcoming_event .panel-body  p {
    margin: 0;
}
#overview .row > div .overview_content#upcoming_event .panel-heading h2 {
    padding: 0;
    font-size: 25px;
}
#overview .row > div .overview_content#upcoming_event .panel-heading p {
    padding: 0;
    margin: 0;
}
#overview .row > div .overview_content:not(#upcoming_event){
    padding: 80px 0;
}
#overview .btn.btn-primary {
    background: black;
    color: white;
    border: none;
}
/*event section styles*/
section#events {
    padding: 60px 0;
    background: white;
}
#events .events.panel {
    border-color: black;
}
#events .events .panel-heading {
    height: 130px;
    background: black;
    border: 0;
}
#events .events .panel-heading h2 {
    font-size: 23px;
}
#events .events .panel-heading p {
    margin: 0;
    padding: 0;
}
#events .events .panel-footer .btn-primary {
    color: white;
    background: black;
    border: 0;
}



/* event info page styles*/

section#event_detail {
    background-image: linear-gradient(to right, rgb(0, 60, 255), red);
    padding: 40px 0;
}


#event_detail .event_heading .well {
    padding-top: 100px;
    padding-bottom: 100px;
}
.well {
    border: 0;
    background: white;
    box-shadow: 0 3px 6px 2px rgba(0,0,0, 0.05)
}

section#recent_guest table thead tr{
    background-image: linear-gradient(to right, rgb(0, 60, 255), red);
    color: white;
    font-weight: bold;
    border: 0 !important;
}

