nav.navbar {
    margin-bottom: 0 !important;
}
nav, .nav, .navbar-nav, .navbar-inverse {
    background: black;
    color: white;
    border: 0;
    border-radius: 0;
}

footer {
    margin-top: 50px;
    padding: 50px 0;
    background: lightgray;
}
footer p {
    margin: 0;
    padding: 0;
}